<%= turbo_stream_from "inbox_list" %>
<%= turbo_frame_tag 'payment_loader' do %>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden"><%= t("paymentProgress") %></span>
  </div>
<% end %>