<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= doctor.address %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= doctor.image_url %>
  </p>

</div>
