<div id="<%= dom_id appointment %>">
  <p>
    <strong>Start time:</strong>
    <%= appointment.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= appointment.end_time %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= appointment.cost %>
  </p>

</div>
