<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-center mb-3 shadow">
  <div style="width: 84%" class="d-flex align-items-center">
    <%= link_to "Medi App", root_path, :class => "navbar-brand me-4" %>
    <%= image_tag 'appointment.svg', :class => "m-0 ps-4 border-start border-dark" %>
    <%= link_to show_path, :class => "d-flex align-items-center nav-link" do %>
      <p class="m-0 mx-2"><%= t("myAppointments") %></p>
    <% end %>
  </div>
</nav>